
<div class="question">
  <div class="app-page__toolbar">
    <div>
      <h1 class="app-page__title">Enade</h1>
      <p class="app-page__subtitle">Provas e questões do Enade cadastradas no sistema.</p>
    </div>
    <button type="button" class="btn btn-primary" title="Adicionar questão" routerLink="adicionar-enade">
      <i class="bi bi-plus-lg me-2"></i>Nova questão
    </button>
  </div>

  <div class="mat-elevation-z8">
    <table class="mat-elevation-z8" mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
  
      <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ano </th>
        <td mat-cell *matCellDef="let element"> {{ element.year }} </td>
      </ng-container>

      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Questão </th>
        <td mat-cell *matCellDef="let element"> {{ element.number }} </td>
      </ng-container>
  
      <ng-container matColumnDef="statement">
        <th mat-header-cell *matHeaderCellDef mat-sort-header
        sortActionDescription="Ordenar por enuncadiado">
          Enunciado
        </th>
        <td mat-cell *matCellDef="let element">  
          <div class="question__statement"> {{element.statement}} </div>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="pointsEnum">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Dificuldade </th>
        <td mat-cell *matCellDef="let element"> {{element.pointsEnum}} </td>
      </ng-container>
  
      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef> Ações</th>
        <td mat-cell *matCellDef="let element">
          <div class="question__acoes">
            <a title="Editar questão" routerLink="editar-enade/{{element.id}}">
              <i class="bi bi-pencil-square text-success mx-2"></i>
            </a>
            <i title="Excluir questão" (click)="deleteEnade(element.id)" class="bi bi-trash-fill text-danger mx-2"></i>
          </div>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator
      [pageSize]="5"
      showFirstLastButtons
      aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
  
  

