<nav class="nav fixed-top"  [ngClass]="{'sidebar-expanded': sidebarExpanded, 'sidebar-collapsed': !sidebarExpanded}" id="sidebar">
  <div class="nav-logo">
    <img src="assets/images/DATECA.png" alt="DATECA">
  </div>
  <ul class="sidebar">
    <li class="sidebar-item sidebar-item--red" [ngClass]="{ 'active': dashboard.isActive }">
      <a class="sidebar-link" routerLink="/admin/dashboard" routerLinkActive #dashboard="routerLinkActive">
        <span class="sidebar-item__icon">
          <i class="bi bi-newspaper"></i>
        </span>
        <span [ngClass]="{'sidebar-item__title': sidebarExpanded, 'sidebar-item__title--none': !sidebarExpanded}">
          Dashboard
        </span>
      </a>
    </li>
    <li class="sidebar-item sidebar-item--green" [ngClass]="{ 'active': professors.isActive }">
      <a class="sidebar-link" routerLink="/admin/professor" routerLinkActive #professors="routerLinkActive">
        <span class="sidebar-item__icon">
          <i class="bi bi-mortarboard-fill"></i>
        </span>
        <span [ngClass]="{'sidebar-item__title': sidebarExpanded, 'sidebar-item__title--none': !sidebarExpanded}">
          Professores
        </span>
      </a>
    </li>
    <li class="sidebar-item sidebar-item--cyan" [ngClass]="{ 'active': students.isActive }">
      <a class="sidebar-link" routerLink="/admin/aluno" routerLinkActive #students="routerLinkActive">
        <span class="sidebar-item__icon">
          <i class="bi bi-people-fill"></i>
        </span>
        <span [ngClass]="{'sidebar-item__title': sidebarExpanded, 'sidebar-item__title--none': !sidebarExpanded}">
          Alunos
        </span>
      </a>
    </li>
    <li class="sidebar-item sidebar-item--blue" [ngClass]="{ 'active': course.isActive }">
      <a class="sidebar-link" routerLink="/admin/materia" routerLinkActive #course="routerLinkActive">
        <span class="sidebar-item__icon">
          <i class="bi bi-journal-bookmark-fill"></i>
        </span>
        <span [ngClass]="{'sidebar-item__title': sidebarExpanded, 'sidebar-item__title--none': !sidebarExpanded}">
          Materias
        </span>
      </a>
    </li>
    <li class="sidebar-item sidebar-item--amber" [ngClass]="{ 'active': question.isActive }">
      <a class="sidebar-link" routerLink="/admin/questao" routerLinkActive #question="routerLinkActive">
        <span class="sidebar-item__icon">
          <i class="bi bi-list-check"></i>
        </span>
        <span [ngClass]="{'sidebar-item__title': sidebarExpanded, 'sidebar-item__title--none': !sidebarExpanded}">
          Questões
        </span>
      </a>
    </li>
    <li class="sidebar-item sidebar-item--violet" [ngClass]="{ 'active': enade.isActive }">
      <a class="sidebar-link" routerLink="/admin/enade" routerLinkActive #enade="routerLinkActive">
        <span class="sidebar-item__icon">
          <i class="bi bi-clipboard2-check"></i>
        </span>
        <span [ngClass]="{'sidebar-item__title': sidebarExpanded, 'sidebar-item__title--none': !sidebarExpanded}">
          Enade
        </span>
      </a>
    </li>
    <li class="sidebar-item sidebar-item--pink" [ngClass]="{ 'active': prova.isActive }">
      <a class="sidebar-link" routerLink="/admin/prova" routerLinkActive #prova="routerLinkActive">
        <span class="sidebar-item__icon">
          <i class="bi bi-file-earmark-text-fill"></i>
        </span>
        <span [ngClass]="{'sidebar-item__title': sidebarExpanded, 'sidebar-item__title--none': !sidebarExpanded}">
          Provas
        </span>
      </a>
    </li>
    <li class="sidebar-item sidebar-item--gold" [ngClass]="{ 'active': ranking.isActive }">
      <a class="sidebar-link" routerLink="/admin/ranking" routerLinkActive #ranking="routerLinkActive">
        <span class="sidebar-item__icon">
          <i class="bi bi-award"></i>
        </span>
        <span [ngClass]="{'sidebar-item__title': sidebarExpanded, 'sidebar-item__title--none': !sidebarExpanded}">
          Ranking
        </span>
      </a>
    </li>
    <li class="sidebar-item sidebar-item--teal" [ngClass]="{ 'active': importacao.isActive }">
      <a class="sidebar-link" routerLink="/admin/importacao" routerLinkActive #importacao="routerLinkActive">
        <span class="sidebar-item__icon">
          <i class="bi bi-file-earmark-arrow-up"></i>
        </span>
        <span [ngClass]="{'sidebar-item__title': sidebarExpanded, 'sidebar-item__title--none': !sidebarExpanded}">
          Importar Prova
        </span>
      </a>
    </li>
  </ul>
</nav>
