<nav class="nav fixed-top"  [ngClass]="{'sidebar-expanded': sidebarExpanded, 'sidebar-collapsed': !sidebarExpanded}" id="sidebar">
  <div class="nav-logo">
    <!-- <h1 class="nav-logo__title">DATECA</h1> -->
    <img src="assets/images/DATECA.png">
  </div>
  <ul class="sidebar">
    <li class="sidebar-item" [ngClass]="{ 'active': dashboard.isActive }">
      <a class="sidebar-link" routerLink="/admin/dashboard" routerLinkActive #dashboard="routerLinkActive">
        <span class="sidebar-item__icon">
          <i class="bi bi-newspaper" style="color: #b54747;"></i>
        </span>
        <span [ngClass]="{'sidebar-item__title': sidebarExpanded, 'sidebar-item__title--none': !sidebarExpanded}">
          Dashboard
        </span>
      </a>
    </li>
    <li class="sidebar-item" [ngClass]="{ 'active': professors.isActive }">
      <a class="sidebar-link" routerLink="/admin/professor" routerLinkActive #professors="routerLinkActive">
        <span class="sidebar-item__icon">
          <i class="bi bi-mortarboard-fill"></i>
        </span>
        <span [ngClass]="{'sidebar-item__title': sidebarExpanded, 'sidebar-item__title--none': !sidebarExpanded}">
          Professores
        </span>
      </a>
    </li>
    <li class="sidebar-item" [ngClass]="{ 'active': course.isActive }">
      <a class="sidebar-link" routerLink="/admin/materia" routerLinkActive #course="routerLinkActive">
        <span class="sidebar-item__icon">
          <i class="bi bi-journal-bookmark-fill" style="color: #4e80e3;"></i>
        </span>
        <span [ngClass]="{'sidebar-item__title': sidebarExpanded, 'sidebar-item__title--none': !sidebarExpanded}">
          Materias
        </span>
      </a>
    </li>
    <li class="sidebar-item" [ngClass]="{ 'active': question.isActive }">
      <a class="sidebar-link" routerLink="/admin/questao" routerLinkActive #question="routerLinkActive">
        <span class="sidebar-item__icon">
          <i class="bi bi-list-check" style="color: #f2c55c;"></i>
        </span>
        <span [ngClass]="{'sidebar-item__title': sidebarExpanded, 'sidebar-item__title--none': !sidebarExpanded}">
          Questões
        </span>
      </a>
    </li>
    <li class="sidebar-item" [ngClass]="{ 'active': enade.isActive }">
      <a class="sidebar-link" routerLink="/admin/enade" routerLinkActive #enade="routerLinkActive">
        <span class="sidebar-item__icon">
          <i class="bi bi-clipboard2-check" style="color: #6e6abb;"></i>
        </span>
        <span [ngClass]="{'sidebar-item__title': sidebarExpanded, 'sidebar-item__title--none': !sidebarExpanded}">
          Enade
        </span>
      </a>
    </li>
    <li class="sidebar-item" [ngClass]="{ 'active': ranking.isActive }">
      <a class="sidebar-link" routerLink="/admin/ranking" routerLinkActive #ranking="routerLinkActive">
        <span class="sidebar-item__icon" style="color: #ebbe3f;">
          <i class="bi bi-award"></i>
        </span>
        <span [ngClass]="{'sidebar-item__title': sidebarExpanded, 'sidebar-item__title--none': !sidebarExpanded}">
          Ranking
        </span>
      </a>
    </li>
    <li class="sidebar-item" [ngClass]="{ 'active': importacao.isActive }">
      <a class="sidebar-link" routerLink="/admin/importacao" routerLinkActive #importacao="routerLinkActive">
        <span class="sidebar-item__icon" style="color: #4fb0a5;">
          <i class="bi bi-file-earmark-arrow-up"></i>
        </span>
        <span [ngClass]="{'sidebar-item__title': sidebarExpanded, 'sidebar-item__title--none': !sidebarExpanded}">
          Importar Prova
        </span>
      </a>
    </li>
  </ul>
</nav>
